<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:cxf="http://cxf.apache.org/cxf"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 								                
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 						  
	http://cxf.apache.org/cxf 
   	http://cxf.apache.org/schemas/core.xsd http://cxf.apache.org/jaxrs         					   
    http://cxf.apache.org/schemas/jaxrs.xsd 
   	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd ">
	
	<!-- 2.1 使用EndPoint方式,交给spring发布 -->
	<!--jaxws:endpoint发布soap协议的服务，对EndPoint类封装，该类不需要实现任何接口-->
	<jaxws:endpoint address="/weather" implementor="server1.WeatherInterfaceImpl"></jaxws:endpoint>
	<!-- 发布后访问：http://localhost:8080/CXF_server/ws/weather?wsdl即可知道有没有发布成功 -->
	
	
	
	<!--2.2 使用jaxws:server发布SOAP协议的服务 ，对JaxWsServerFactoryBean类封装，交给spring发布 -->
	<!--jaxws:server发布SOAP协议的服务 ，对JaxWsServerFactoryBean类封装 -->
	<jaxws:server serviceClass="server2.WeatherInterface" address="/weather2">
		<jaxws:serviceBean>
			<ref bean="weatherInterface" />
		</jaxws:serviceBean>
	</jaxws:server>
	<!-- 配置服务实现类 -->
	<bean name="weatherInterface" class="server2.WeatherInterfaceImpl"></bean>
	<!-- 发布后访问：http://localhost:8080/CXF_server/ws/weather2?wsdl即可知道有没有发布成功 -->

</beans>